.s-welcome {
  @include display(flex);
  @include align-items(center);
  width: 100%;
  min-height: 100%;
  padding: 5em 0;
  background: $black image-url("bg.jpg") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $white;

  .b-connect {
    margin: 1em auto;
  }
} // .s-welcome

.s-welcome__wrapper {
  margin: auto;
  max-width: 30em;
  border: 0.5em solid rgba($orange, 0.75);
}

.s-welcome__content {
  padding: 1.5em;
  background: $orange;
  background: rgba($orange, 0.95);
  text-align: center;
}

@include media-ie($breakpoint-ipad) {
  .s-welcome__wrapper { border: 0.75em solid rgba($orange, 0.75); }
  .s-welcome__content { padding: 5em; }
}
